.title {
    font-size: 2.5em;
    font-weight: 800;
}

.title>a {
    color: #e0e1dd;
    text-decoration: none;
    border-bottom: white 2px solid;
}

.title>a:hover {
    color: #a8c7fa;
}

.subtitle {
    font-style: italic;
    font-weight: 400;
}

.body-text {
    line-height: 1.7em;
    letter-spacing: 0.09em;
    width: 70%;
    margin: 1em auto;
}