.main-content {
    flex-grow: 1;
    /* background-color: #212529; */
    background-color: #121212;
    padding: 1em;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
}

.social-link {
    color: inherit;
    transition: 0.3s;
}

.social-link:hover {
    color: rgb(168, 199, 250);
    transition: 0.3s;
}

.profile-photo {
    width: 15em;
    border-radius: 100%;
}

.profile-card {
    border: #284b63 solid 1px;
    box-shadow: rgb(125, 125, 125) 0.2em 0.2em 0.2em;
    background-color: #222222;
    padding: 2em;
    border-radius: 1em;
    width: 60%;
    margin: 0 auto;
}

.profile-text {
    line-height: 1.6em;
    letter-spacing: 0.05em;
}

.profile-title {
    font-size: 3em;
}