.socials {
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
}

.social-link {
    color: inherit;
    transition: 0.3s;
}

.social-link:hover {
    color: #a8c7fa;
    transition: 0.3s;
}

.profile-photo {
    width: 15em;
    border-radius: 100%;
}

.profile-card {
    transition: 0.3s;
    border: #284b63 solid 1px;
    box-shadow: rgb(125, 125, 125) 0.1em 0.1em 0.1em;
    background-color: #222222;
    padding: 2em;
    border-radius: 1em;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.profile-card:hover {
    transition: 0.3s;
    background-color: #1d1d1d;
    box-shadow: rgb(125, 125, 125) 0.25em 0.25em 0.25em;
}

.profile-text {
    line-height: 1.6em;
    letter-spacing: 0.05em;
}

.profile-title {
    font-size: 3em;
}

.skills {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}