.navbar {
    display: flex;
    background-color: #121212;
    background-color: #222222;
    justify-content: space-around;
    padding: 1em;
}

.nav-link {
    text-decoration: none;
    color: #E0E1DD;
}

.nav-link:hover {
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
    border-bottom: rgb(187, 211, 249) solid 0.05em;
}

.active {
    text-decoration: none;
    color: #a8c7fa;
    border-bottom: #a8c7fa solid 0.2em;
}

.active:hover {
    color: #c4d8f9;
    border-bottom: #c4d8f9 solid 0.2em;
}